back/.venv
.env
.vscode/launch.json
back/__pycache__/
back/src/api/__pycache__/
back/src/api/__pycache__/
back/src/api/imageRouter/__pycache__/
back/src/domain/entities/__pycache__/
back/.vscode/launch.json
back/src/console/__pycache__/
back/src/domain/inputs/__pycache__/
back/src/__pycache__/settings.cpython-310.pyc
back/src/api/authRouter/__pycache__/
